@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.containerIndex {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 100% auto;
}

.containerIndexContacto {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 100% auto;
}

.containerIndexPublicar {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 100% auto;
}

.containerIndexMapa {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 100% auto;
}

.containerIndexLogin {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 100% auto;
}

/*inicio de header*/
header {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
  font-family: "Signika Negative", sans-serif;
}
header nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav .logo {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*display*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .logo img {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  font-size: 20px;
  list-style: none;
  font-family: "Signika Negative", sans-serif;
}
header nav ul a {
  text-decoration: none;
  color: black;
}
header nav .usuario {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/*fin de header*/
/*inicio footer*/
.footer {
  background-color: #222222;
  height: 100%;
  width: 100%;
  font-family: "Signika Negative", sans-serif;
}
.footer section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer section .telefono {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer section .logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer section .mail {
  display: flex;
  justify-content: end;
  align-items: center;
}

/*fin footer*/
/*inicio main*/
.mainIndex {
  font-family: "Signika Negative", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 45px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-inicio.png);
  background-repeat: round;
}
.mainIndex section {
  display: flex;
  justify-content: center;
  align-content: center;
}
.mainIndex section .cardUno {
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
  margin-left: 25px;
  width: 310px;
  height: 370px;
  border-radius: 13%;
  box-shadow: 6px 6px 30px black;
}
.mainIndex section .cardUno img {
  width: 100%;
  border-radius: 13%;
}
.mainIndex section .cardUno h2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.mainIndex section .cardUno ul {
  margin-left: 10px;
  list-style: none;
  margin-top: 20px;
}
.mainIndex section .cardUno .precio {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  margin-top: 25px;
}
.mainIndex section .cardUno .precio h3 {
  margin-right: 105px;
}
.mainIndex section .cardUno button {
  background-color: #40541A; /*VARIABLE*/
  padding: 3.5px;
  border-radius: 5px;
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
}

/*fin main*/
/*Inicio de pagina Iniciar-sesion*/
.mainLogin {
  width: 100%;
  height: 100%;
  font-family: "Signika Negative", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-iniciar-sesion.png);
}
.mainLogin .cardLogin {
  width: 450px;
  height: 500px;
}
.mainLogin .gridCardLogin {
  background-color: #ffffff;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 20px;
}
.mainLogin .gridCardLogin .h2Login {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #40541A;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 10px;
}
.mainLogin .gridCardLogin .correoLogin {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
  margin-top: 20px;
}
.mainLogin .gridCardLogin .correoLogin input {
  display: flex;
  border-radius: 5px;
  border-style: none;
  width: 420px;
  height: 30px;
  background-color: #cacaca;
}
.mainLogin .gridCardLogin .contraseñaLogin {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
  margin-top: 20px;
}
.mainLogin .gridCardLogin .contraseñaLogin input {
  display: flex;
  border-radius: 5px;
  border-style: none;
  width: 420px;
  height: 30px;
  background-color: #cacaca;
}
.mainLogin .gridCardLogin .botonLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLogin .gridCardLogin .botonLogin button {
  width: 420px;
  height: 35px;
  border-style: none;
  border-radius: 5px;
  background-color: #40541A;
}
.mainLogin .gridCardLogin .registrarmeLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLogin .gridCardLogin .registrarmeLogin p {
  color: #40541A;
}
.mainLogin .gridCardLogin .ayudaLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLogin .gridCardLogin .ayudaLogin p {
  display: flex;
  flex-direction: column;
  color: #40541A;
}
.mainLogin .gridCardLogin .terminosLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #40541A;
  margin-left: 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
}

/*Final de pagina Iniciar-sesion*/
/*incio pagina Contacto*/
.mainContacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-contacto.png);
}
.mainContacto .cardContacto {
  font-family: "Signika Negative", sans-serif;
  width: 500px;
  height: 550px;
  border-radius: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.mainContacto .cardContacto .titleContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  color: #3D7D5A;
}
.mainContacto .cardContacto .nombreContacto form, .mainContacto .cardContacto .telefonoContacto form {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.mainContacto .cardContacto .nombreContacto span, .mainContacto .cardContacto .telefonoContacto span {
  display: flex;
}
.mainContacto .cardContacto .nombreContacto input, .mainContacto .cardContacto .telefonoContacto input {
  display: flex;
  border-radius: 5px;
  border-style: none;
  width: 455px;
  height: 30px;
  background-color: #cacaca;
}
.mainContacto .cardContacto .telefonoContacto {
  /*EXTEND*/
}
.mainContacto .cardContacto .correoContacto form {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.mainContacto .cardContacto .correoContacto span {
  display: flex;
}
.mainContacto .cardContacto .correoContacto input {
  display: flex;
  border-radius: 5px;
  border-style: none;
  height: 30px;
  width: 455px;
  /*MIXING*/
  background-color: #cacaca;
}
.mainContacto .cardContacto .mensajeContacto form {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}
.mainContacto .cardContacto .mensajeContacto span {
  display: flex;
}
.mainContacto .cardContacto .mensajeContacto input {
  width: 455px;
  height: 100px;
  border-radius: 5px;
  border-style: none;
  background-color: #cacaca;
}
.mainContacto .cardContacto .botonContacto {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 12px;
}
.mainContacto .cardContacto .botonContacto button {
  width: 455px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: #3D7D5A;
}

/*Final pagina Contacto*/
.mainMapa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 640px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-mapa.png);
}

.consultarMapaCard {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: start;
  justify-content: center;
}

.containerMapa {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: start;
  margin-top: 30px;
}
.containerMapa div {
  height: 280px;
  width: 577px;
}

.cardConsultar {
  display: grid;
  grid-template-rows: 70px 1fr 1fr 1fr 1fr;
  height: 600px;
  width: 577px;
  margin-bottom: 30px;
  border-radius: 15px;
  font-family: "Signika Negative", sans-serif;
  background-color: lightgray;
}
.cardConsultar h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2117647059);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.cardConsultar form label {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 537px;
  margin-bottom: 20px;
}
.cardConsultar input {
  border-radius: 5px;
  border-style: none;
  height: 30px;
}
.cardConsultar .comentario {
  height: 200px;
}

.infoCasa {
  background-color: lightgray;
  border-radius: 15px;
  height: 885px;
  width: auto;
  margin: 30px;
  grid-column: 2;
  grid-row: 1/span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 100px 20px 1fr 1fr 5px;
  justify-content: center;
  align-items: center;
  font-family: "Signika Negative", sans-serif;
}
.infoCasa h2 {
  display: flex;
  justify-content: center;
  color: #105221;
}
.infoCasa .caracteristicasMapa {
  height: 50px;
}
.infoCasa .direccionMapa {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.infoCasa .descripcionMapaDos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #105221;
}
.infoCasa h3 {
  display: flex;
  justify-content: center;
}
.infoCasa .imagenesMapa {
  display: flex;
  justify-content: center;
}
.infoCasa .infoMapa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2117647059);
}
.infoCasa .infoMapa figcaption {
  display: flex;
  justify-content: center;
}
.infoCasa .descripcionMapa {
  gap: 5px;
  display: flex;
  justify-content: end;
  margin: 15px;
}
.infoCasa .precio {
  display: flex;
  justify-content: end;
  font-size: 25px;
  margin-right: 25px;
}

@media (max-width: 768px) {
  .containerIndex {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .mainIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #a8c474;
    background-image: none;
  }
  .card {
    display: flex;
    justify-content: start;
  }
}
@media (max-width: 320px) {
  .containerIndex {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .mainIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #838383;
    background-image: none;
  }
  .card {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}
@media (max-width: 320px) {
  .containerIndexContacto {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 100% auto;
  }
  .mainContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #670d7e;
    background-image: none;
    display: flex;
  }
  .cardContacto {
    width: 300px;
  }
  .nombreContacto input, .mainContacto .cardContacto .telefonoContacto input {
    width: 250px;
  }
  .telefonoContacto input {
    width: 250px;
  }
  .correoContacto input {
    width: 250px;
  }
  .mensajeContacto input {
    width: 250px;
  }
  .botonContacto {
    width: 250px;
  }
  .footer {
    background-color: #222222;
  }
  .footer p {
    color: #000000;
    font-size: 10px;
    margin-top: 10px;
  }
  .footer img {
    height: 30px;
    width: 40px;
  }
}
@media (max-width: 768px) {
  .mainMapa {
    display: flex;
    flex-direction: column;
  }
  .containerIndexMapa {
    height: 100%;
  }
  .infoCasa {
    height: 900px;
    order: 3;
  }
  .infoCasa .imagenesMapa img {
    width: 590px;
  }
  .cardConsultar {
    order: 1;
    margin-top: 30px;
  }
  .containerMapa {
    order: 2;
  }
}

/*# sourceMappingURL=style.css.map */
