@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/*inicio de header*/
header {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
  font-family: "Signika Negative", sans-serif;
}
header nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav .logo {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*display*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .logo img {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  font-size: 20px;
  list-style: none;
  font-family: "Signika Negative", sans-serif;
}
header nav ul a {
  text-decoration: none;
  color: black;
}
header nav .usuario {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/*fin de header*/
/*inicio footer*/
.footer {
  background-color: #222222;
  height: 100%;
  width: 100%;
  font-family: "Signika Negative", sans-serif;
}
.footer section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer section .telefono {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer section .logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer section .mail {
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer section p {
  color: lightgray;
}

/*fin footer*/
/*inicio main*/
html, body {
  width: 100% !important;
  overflow-x: hidden !important;
}

.mainIndex {
  font-family: "Signika Negative", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 45px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-contacto.png);
  background-repeat: round;
}
.mainIndex section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}
.mainIndex section .cardUno, .mainIndex section .cardSeis, .mainIndex section .cardCinco, .mainIndex section .cardCuatro, .mainIndex section .cardTres, .mainIndex section .cardDos {
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
  margin-left: 25px;
  width: 310px;
  height: 370px;
  border-radius: 13%;
  box-shadow: 6px 6px 30px black;
}
.mainIndex section .cardUno img, .mainIndex section .cardSeis img, .mainIndex section .cardCinco img, .mainIndex section .cardCuatro img, .mainIndex section .cardTres img, .mainIndex section .cardDos img {
  width: 100%;
  border-radius: 13%;
}
.mainIndex section .cardUno h2, .mainIndex section .cardSeis h2, .mainIndex section .cardCinco h2, .mainIndex section .cardCuatro h2, .mainIndex section .cardTres h2, .mainIndex section .cardDos h2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.mainIndex section .cardUno ul, .mainIndex section .cardSeis ul, .mainIndex section .cardCinco ul, .mainIndex section .cardCuatro ul, .mainIndex section .cardTres ul, .mainIndex section .cardDos ul {
  margin-left: 10px;
  list-style: none;
  margin-top: 20px;
}
.mainIndex section .cardUno .precio, .mainIndex section .cardSeis .precio, .mainIndex section .cardCinco .precio, .mainIndex section .cardCuatro .precio, .mainIndex section .cardTres .precio, .mainIndex section .cardDos .precio {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  margin-top: 25px;
}
.mainIndex section .cardUno .precio h3, .mainIndex section .cardSeis .precio h3, .mainIndex section .cardCinco .precio h3, .mainIndex section .cardCuatro .precio h3, .mainIndex section .cardTres .precio h3, .mainIndex section .cardDos .precio h3 {
  margin-right: 105px;
}
.mainIndex section .cardUno button, .mainIndex section .cardSeis button, .mainIndex section .cardCinco button, .mainIndex section .cardCuatro button, .mainIndex section .cardTres button, .mainIndex section .cardDos button {
  background-color: #567223; /*VARIABLE*/
  padding: 3.5px;
  border-radius: 5px;
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
}
.mainIndex section .cardDos img {
  height: 195px;
}
.mainIndex section .cardTres img {
  height: 195px;
}
.mainIndex section .cardCuatro img {
  height: 195px;
}
.mainIndex section .cardCinco img {
  height: 195px;
}
.mainIndex section .cardSeis img {
  height: 195px;
}

/*fin main*/
/*Inicio de pagina Iniciar-sesion*/
.mainLogin {
  width: 100%;
  height: 100vh;
  font-family: "Signika Negative", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-iniciar-sesion.png);
}
.mainLogin .cardLogin {
  width: 450px;
  height: 500px;
}
.mainLogin .gridCardLogin {
  background-color: #ffffff;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 20px;
}
.mainLogin .gridCardLogin .h2Login {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #40541A;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 10px;
}
.mainLogin .gridCardLogin .correoLogin {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
  margin-top: 20px;
}
.mainLogin .gridCardLogin .correoLogin input {
  display: flex;
  border-radius: 5px;
  border-style: none;
  width: 420px;
  height: 30px;
  background-color: #cacaca;
}
.mainLogin .gridCardLogin .contraseñaLogin {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
  margin-top: 20px;
}
.mainLogin .gridCardLogin .contraseñaLogin input {
  display: flex;
  border-radius: 5px;
  border-style: none;
  width: 420px;
  height: 30px;
  background-color: #cacaca;
}
.mainLogin .gridCardLogin .botonLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLogin .gridCardLogin .botonLogin button {
  width: 420px;
  height: 35px;
  border-style: none;
  border-radius: 5px;
  background-color: #40541A;
}
.mainLogin .gridCardLogin .registrarmeLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLogin .gridCardLogin .registrarmeLogin p {
  color: #40541A;
  text-decoration: underline white;
}
.mainLogin .gridCardLogin .ayudaLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLogin .gridCardLogin .ayudaLogin p {
  display: flex;
  flex-direction: column;
  color: #40541A;
  text-decoration: underline white;
}
.mainLogin .gridCardLogin .terminosLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #40541A;
  margin-left: 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
}

/*Final de pagina Iniciar-sesion*/
/*incio pagina Contacto*/
.mainContacto {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-contacto.png);
}
.mainContacto .cardContacto {
  font-family: "Signika Negative", sans-serif;
  width: 500px;
  height: 550px;
  border-radius: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.mainContacto .cardContacto .titleContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  color: #3D7D5A;
}
.mainContacto .cardContacto .nombreContacto form, .mainContacto .cardContacto .telefonoContacto form {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.mainContacto .cardContacto .nombreContacto span, .mainContacto .cardContacto .telefonoContacto span {
  display: flex;
}
.mainContacto .cardContacto .nombreContacto input, .mainContacto .cardContacto .telefonoContacto input {
  display: flex;
  border-radius: 5px;
  border-style: none;
  width: 455px;
  height: 30px;
  background-color: #cacaca;
}
.mainContacto .cardContacto .telefonoContacto {
  /*EXTEND*/
}
.mainContacto .cardContacto .correoContacto form {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.mainContacto .cardContacto .correoContacto span {
  display: flex;
}
.mainContacto .cardContacto .correoContacto input {
  display: flex;
  border-radius: 5px;
  border-style: none;
  height: 30px;
  width: 455px;
  /*MIXING*/
  background-color: #cacaca;
}
.mainContacto .cardContacto .mensajeContacto form {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}
.mainContacto .cardContacto .mensajeContacto span {
  display: flex;
}
.mainContacto .cardContacto .mensajeContacto input {
  width: 455px;
  height: 100px;
  border-radius: 5px;
  border-style: none;
  background-color: #cacaca;
}
.mainContacto .cardContacto .botonContacto {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 12px;
}
.mainContacto .cardContacto .botonContacto button {
  width: 455px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: #3D7D5A;
}

/*Final pagina Contacto*/
.mainMapa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 640px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-mapa.png);
}

.consultarMapaCard {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: start;
  justify-content: center;
}

.containerMapa {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: start;
  margin-top: 30px;
}
.containerMapa div {
  height: 280px;
  width: 577px;
}

.cardConsultar {
  display: grid;
  grid-template-rows: 70px 1fr 1fr 1fr 1fr;
  height: 600px;
  width: 577px;
  margin-bottom: 30px;
  border-radius: 15px;
  font-family: "Signika Negative", sans-serif;
  background-color: lightgray;
}
.cardConsultar h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2117647059);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.cardConsultar form label {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 537px;
  margin-bottom: 20px;
}
.cardConsultar input {
  border-radius: 5px;
  border-style: none;
  height: 30px;
}
.cardConsultar .comentario {
  height: 200px;
}

.infoCasa {
  background-color: lightgray;
  border-radius: 15px;
  height: 885px;
  width: auto;
  margin: 30px;
  grid-column: 2;
  grid-row: 1/span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 100px 20px 1fr 1fr 5px;
  justify-content: center;
  align-items: center;
  font-family: "Signika Negative", sans-serif;
}
.infoCasa h2 {
  display: flex;
  justify-content: center;
  color: #105221;
}
.infoCasa .caracteristicasMapa {
  height: 50px;
}
.infoCasa .direccionMapa {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.infoCasa .descripcionMapaDos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #105221;
}
.infoCasa h3 {
  display: flex;
  justify-content: center;
}
.infoCasa .imagenesMapa {
  display: flex;
  justify-content: center;
}
.infoCasa .infoMapa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2117647059);
}
.infoCasa .infoMapa figcaption {
  display: flex;
  justify-content: center;
}
.infoCasa .descripcionMapa {
  gap: 5px;
  display: flex;
  justify-content: end;
  margin: 15px;
}
.infoCasa .precio {
  display: flex;
  justify-content: end;
  font-size: 25px;
  margin-right: 25px;
}

.mainPublicar {
  height: 100vh;
  font-family: "Signika Negative", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-publicar.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainPublicar .cardPublicar {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 600px;
  width: 1500px;
}
.mainPublicar .cardPublicar .hDosPublicar {
  grid-column: 1/span 3;
  color: #567223;
}
.mainPublicar .cardPublicar .hDosPublicar div {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.mainPublicar .cardPublicar .containerCardPubli {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainPublicar .cardPublicar .publiTipoUno, .mainPublicar .cardPublicar .publiTipoTres, .mainPublicar .cardPublicar .publiTipoDos {
  border: 2px solid rgba(0, 0, 0, 0.336);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.mainPublicar .cardPublicar .publiTipoUno div, .mainPublicar .cardPublicar .publiTipoTres div, .mainPublicar .cardPublicar .publiTipoDos div {
  display: flex;
  justify-content: center;
}
.mainPublicar .cardPublicar .publiTipoUno div img, .mainPublicar .cardPublicar .publiTipoTres div img, .mainPublicar .cardPublicar .publiTipoDos div img {
  display: flex;
  align-items: start;
  height: 80px;
  width: 75px;
}
.mainPublicar .cardPublicar .publiTipoUno div button, .mainPublicar .cardPublicar .publiTipoTres div button, .mainPublicar .cardPublicar .publiTipoDos div button {
  margin: 35px;
  background-color: #567223; /*VARIABLE*/
  padding: 3.5px;
  border-radius: 5px;
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
  width: 80px;
  transition: height 0.5s, width 0.2s;
}
.mainPublicar .cardPublicar .publiTipoUno div button:hover, .mainPublicar .cardPublicar .publiTipoTres div button:hover, .mainPublicar .cardPublicar .publiTipoDos div button:hover {
  height: 35px;
  width: 85px;
}
.mainPublicar .cardPublicar .publiTipoUno div p, .mainPublicar .cardPublicar .publiTipoTres div p, .mainPublicar .cardPublicar .publiTipoDos div p {
  border: 1px solid rgba(0, 0, 0, 0.336);
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
}
.mainPublicar .cardPublicar .publiTipoUno .divImgPubli, .mainPublicar .cardPublicar .publiTipoTres .divImgPubli, .mainPublicar .cardPublicar .publiTipoDos .divImgPubli {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}
@media (max-width: 768px) {
  .mainIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .mainIndex section {
    margin-bottom: 20px;
    margin-right: 15px;
  }
}
@media (max-width: 1440px) {
  .mainIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 320px) {
  .mainIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .card {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .mainContacto .cardContacto {
    width: 400px;
  }
  .mainContacto .cardContacto .titleContacto {
    width: 400px;
  }
  .mainContacto .cardContacto .nombreContacto, .mainContacto .cardContacto .telefonoContacto {
    width: 400px;
  }
  .mainContacto .cardContacto .nombreContacto input, .mainContacto .cardContacto .telefonoContacto input {
    width: 360px;
  }
  .mainContacto .cardContacto .correoContacto {
    width: 400px;
  }
  .mainContacto .cardContacto .correoContacto input {
    width: 360px;
  }
  .mainContacto .cardContacto .mensajeContacto {
    width: 400px;
  }
  .mainContacto .cardContacto .mensajeContacto input {
    width: 360px;
  }
  .mainContacto .cardContacto .botonContacto {
    width: 360px;
  }
}
@media (max-width: 375px) {
  .mainContacto .cardContacto {
    font-size: 13px;
    width: 300px;
    height: 520px;
  }
  .mainContacto .cardContacto .titleContacto {
    width: 300px;
  }
  .mainContacto .cardContacto .nombreContacto, .mainContacto .cardContacto .telefonoContacto {
    width: 300px;
  }
  .mainContacto .cardContacto .nombreContacto input, .mainContacto .cardContacto .telefonoContacto input {
    width: 260px;
  }
  .mainContacto .cardContacto .correoContacto {
    width: 300px;
  }
  .mainContacto .cardContacto .correoContacto input {
    width: 260px;
  }
  .mainContacto .cardContacto .mensajeContacto {
    width: 300px;
  }
  .mainContacto .cardContacto .mensajeContacto input {
    width: 260px;
  }
  .mainContacto .cardContacto .botonContacto {
    width: 260px;
  }
}
@media (max-width: 768px) {
  .mainMapa {
    display: flex;
    flex-direction: column;
  }
  .infoCasa {
    height: 900px;
    order: 3;
  }
  .infoCasa .imagenesMapa img {
    width: 590px;
  }
  .cardConsultar {
    order: 1;
    margin-top: 30px;
  }
  .containerMapa {
    order: 2;
  }
}
@media (max-width: 1024px) {
  .mainMapa {
    display: flex;
    flex-direction: column;
  }
  .infoCasa {
    order: 3;
  }
  .infoCasa .imagenesMapa img {
    width: 590px;
  }
  .cardConsultar {
    order: 1;
    margin-top: 30px;
  }
  .containerMapa {
    order: 2;
  }
}
@media (max-width: 425px) {
  html, body {
    width: 100% !important;
    overflow-x: hidden !important;
  }
  .cardConsultar {
    order: 1;
    margin-top: 30px;
    height: 530px;
    width: 380px;
  }
  .cardConsultar h2 {
    font-size: 19px;
    width: 400px;
  }
  .cardConsultar span {
    font-size: 13px;
  }
  .cardConsultar input {
    width: 340px;
    font-size: 13px;
  }
  .containerMapa {
    order: 2;
  }
  .containerMapa div {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerMapa div img {
    width: 380px;
  }
  .infoCasa {
    height: 600px;
    order: 3;
    grid-template-rows: 1fr 1fr 70px 20px 1fr 50px 5px;
  }
  .infoCasa h2 {
    font-size: 19px;
  }
  .infoCasa h3 {
    font-size: 16px;
  }
  .infoCasa .imagenesMapa img {
    width: 330px;
  }
  .infoCasa .caracteristicasMapa {
    font-size: 19px;
    height: 25px;
  }
  .infoCasa .infoMapa {
    height: 50px;
    width: 360px;
    border-bottom: none;
  }
  .infoCasa .infoMapa img {
    height: 30px;
  }
  .infoCasa .infoMapa figcaption {
    font-size: x-small;
  }
  .infoCasa .descripcionMapaDos {
    font-size: 19px;
  }
  .infoCasa .descripcionMapa {
    font-size: 13px;
  }
  .infoCasa .precio {
    font-size: 19px;
  }
}
@media (max-width: 375px) {
  .infoCasa {
    margin: 10px;
    margin-top: 50px;
    width: 350px;
    height: 590px;
    grid-template-rows: 1fr 1fr 70px 1px 1fr 50px 5px;
  }
  .infoCasa section div h2 {
    font-size: 17px;
    width: 300px;
    margin: auto;
  }
  .infoCasa section div h3 {
    font-size: 12px;
  }
  .infoCasa .imagenesMapa {
    width: 350px;
    margin: auto;
    margin-left: 10px;
  }
  .infoCasa .imagenesMapa img {
    width: 260px;
  }
  .infoCasa .infoMapa {
    width: 350px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .cardConsultar {
    width: 300px;
  }
  .cardConsultar div h2 {
    width: 300px;
  }
  .cardConsultar div input {
    width: 260px;
  }
  .containerMapa div img {
    width: 300px;
  }
}
@media (max-width: 320px) {
  .cardConsultar {
    width: 300px;
  }
  .cardConsultar div h2 {
    width: 300px;
  }
  .cardConsultar div input {
    width: 260px;
  }
  .containerMapa div img {
    width: 300px;
  }
  .infoCasa {
    margin: 10px;
    margin-top: 50px;
    width: 300px;
    height: 590px;
    grid-template-rows: 1fr 1fr 70px 1px 1fr 50px 5px;
  }
  .infoCasa section div h2 {
    font-size: 17px;
    width: 300px;
    margin: auto;
  }
  .infoCasa section div h3 {
    font-size: 12px;
  }
  .infoCasa .imagenesMapa {
    width: 300px;
    margin: auto;
    margin-left: 10px;
  }
  .infoCasa .imagenesMapa img {
    width: 260px;
  }
  .infoCasa .infoMapa {
    width: 300px;
  }
}
@media (max-width: 425px) {
  .header nav .logo {
    display: flex;
    justify-content: center;
  }
  .header nav .logo img {
    height: 30px;
  }
  .header nav .logo h1 {
    display: flex;
    justify-content: center;
    font-size: 10px;
  }
  .header nav .lista {
    gap: 25px;
    font-size: 13px;
    font-weight: bolder;
  }
  .header nav .usuario img {
    height: 28px;
    width: 28px;
  }
}
@media (max-width: 425px) {
  .footer p {
    font-size: 15px;
    color: lightgray;
  }
}
@media (max-width: 375px) {
  .footer .telefono p {
    font-size: 12px;
  }
  .footer .telefono img {
    width: 40px;
    height: 25px;
  }
  .footer .mail img {
    width: 40px;
    height: 25px;
  }
  .footer .mail p {
    font-size: 12px;
  }
  .footer .logoFooter {
    width: 30px;
  }
  .footer .logoFooter img {
    height: 20px;
  }
}
@media (max-width: 1024px) {
  html, body {
    width: 100% !important;
    overflow-x: hidden !important;
  }
  .mainPublicar {
    height: 100%;
  }
  .mainPublicar .cardPublicar {
    width: 700px;
    height: 980px;
    margin: 40px;
    display: flex;
    flex-direction: column;
  }
  .mainPublicar .cardPublicar .hDosPublicar {
    width: 700px;
  }
  .mainPublicar .cardPublicar .hDosPublicar h2 {
    font-size: 19px;
  }
  .mainPublicar .cardPublicar .containerCardPubli {
    gap: 5px;
    margin: 20px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres {
    height: 267px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno img, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos img, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres img {
    height: 50px;
    width: 50px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno ul, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos ul, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres ul {
    font-size: 15px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno div p, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos div p, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres div p {
    font-size: 15px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno div button, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos div button, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres div button {
    margin: 10px;
  }
}
@media (max-width: 425px) {
  html, body {
    width: 100% !important;
    overflow-x: hidden !important;
  }
  .mainPublicar {
    height: 100%;
  }
  .mainPublicar .cardPublicar {
    width: 700px;
    height: 980px;
    margin: 40px;
    display: flex;
    flex-direction: column;
  }
  .mainPublicar .cardPublicar .hDosPublicar {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainPublicar .cardPublicar .hDosPublicar h2 {
    margin-left: 10px;
    font-size: 16px;
  }
  .mainPublicar .cardPublicar .containerCardPubli {
    gap: 5px;
    margin: 20px 20px 5px 5px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres {
    height: 267px;
    width: 260px;
    margin-left: 15px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno img, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos img, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres img {
    height: 50px;
    width: 50px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno ul, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos ul, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres ul {
    font-size: 13px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno ul li, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos ul li, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres ul li {
    margin-left: 15px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno div p, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos div p, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres div p {
    font-size: 13px;
  }
  .mainPublicar .cardPublicar .containerCardPubli .publiTipoUno div button, .mainPublicar .cardPublicar .containerCardPubli .publiTipoDos div button, .mainPublicar .cardPublicar .containerCardPubli .publiTipoTres div button {
    padding: 2px;
    margin: 10px;
  }
}
@media (max-width: 425px) {
  .mainLogin .cardLogin {
    width: 300px;
    height: 440px;
  }
  .mainLogin .cardLogin .h2Login {
    width: 300px;
  }
  .mainLogin .cardLogin .correoLogin {
    width: 260px;
  }
  .mainLogin .cardLogin .correoLogin input {
    width: 270px;
  }
  .mainLogin .cardLogin .contraseñaLogin {
    width: 260px;
  }
  .mainLogin .cardLogin .contraseñaLogin input {
    width: 270px;
  }
  .mainLogin .cardLogin .botonLogin {
    width: 300px;
    margin-top: 15px;
  }
  .mainLogin .cardLogin .botonLogin button {
    width: 270px;
  }
  .mainLogin .cardLogin div a {
    font-weight: bolder;
  }
  .mainLogin .cardLogin .terminosLogin {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
