@media (max-width:425px){
    .footer{
        p{
            font-size: 15px;
            color: lightgray;
        }
    }
}



@media (max-width:375px){
    .footer{
        .telefono{
            p{
                font-size: 12px;
            }
            img{
                width: 40px;
                height: 25px;
            }
        }
        .mail{
            img{
                width: 40px;
                height: 25px;
            }
            p{
                font-size: 12px;
            }
        }
        .logoFooter{
            width: 30px;
            img{
                height: 20px;
            }
        }
    }
}
