@media (max-width:768px){
    .mainMapa{
        display: flex;
        flex-direction: column;
    }
    .infoCasa{
        height: 900px;
        order: 3;
        .imagenesMapa{
            img{
                width: 590px;
            }
        }
    }
    .cardConsultar{
        order: 1;
        margin-top: 30px;
    }
    .containerMapa{
        order: 2;
    }
    .footer{
        p{
            color: lightgray;
        }
    }
}

@media (max-width:1024px){
    .mainMapa{
        display: flex;
        flex-direction: column;
    }
    .infoCasa{
        order: 3;
        .imagenesMapa{
            img{
                width: 590px;
            }
        }
    }
    .cardConsultar{
        order: 1;
        margin-top: 30px;
    }
    .containerMapa{
        order: 2;
    }
}

@media (max-width:425px){
    html, body {
        width: 100%!important;
        overflow-x: hidden!important;
    }
    .header{
        nav{
            .logo{
                display: flex;
                justify-content: center;
                img{
                    height: 50px;
                }
                h1{
                    display: flex;
                    justify-content: center;
                    font-size: 15px;
                }
            }
            .lista{
                gap: 45px;
                font-size: 15px;
                font-weight: bolder;
            }
            .usuario{
                img{
                    height: 40px;
                }
            }
        }
    }
    .cardConsultar{
        order: 1;
        margin-top: 30px;
        height: 530px;
        width: 380px;
        h2{
            font-size: 19px;
            width: 400px;
        }
        span{
            font-size: 13px;
        }
        input{
            width: 340px;
            font-size: 13px;
        }
    }
    .containerMapa{
        order: 2;
        div{
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 380px;
            }
        }
    }
    .infoCasa{
        height: 600px;
        order: 3;
        grid-template-rows: 1fr 1fr 70px 20px 1fr 50px 5px;
        h2{
            font-size: 19px;
        }
        h3{
            font-size: 16px;
        }
        .imagenesMapa{
            img{
                width: 330px;
            }
        }
        .caracteristicasMapa{
            font-size: 19px;
            height: 25px;
        }
        .infoMapa{
            height: 50px;
            width: 360px;
            border-bottom: none;
            img{
            height: 30px;
            }
            figcaption{
            font-size: x-small;
            }
        }
        .descripcionMapaDos{
            font-size: 19px;
        }
        .descripcionMapa{
            font-size: 13px;
        }
        .precio{
            font-size: 19px;
        }
    }
    .footer{
        p{
            font-size: 15px;
            color: lightgray;
        }
    }
}