@media (max-width:320px){
    .containerIndexContacto{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 100% auto;
    }
    
    .mainContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: #670d7e;
        background-image: none;
        display: flex;
    }

    .cardContacto{
        width: 300px
    }

    .nombreContacto input{
        width: 250px;
    }

    .telefonoContacto input{
        width: 250px;
    }

    .correoContacto input{
        width: 250px;
    }

    .mensajeContacto input{
        width: 250px;
    }
    
    .botonContacto{
        width: 250px;
    }
}
