.mainPublicar{
    height: 100vh;
    font-family: 'Signika Negative', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img-fondo-publicar.png);
    display: flex;
    align-items: center;
    justify-content: center;
    .cardPublicar{
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-rows: 60px 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
        height: 600px;
        width: 1500px;
        .hDosPublicar{
            grid-column: 1 / span 3;
            color: #567223;
            div{
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: end;
            }
        }
        .containerCardPubli{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .publiTipoUno{
            border: 2px solid rgba(0, 0, 0, 0.336);
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            width: 400px;
            height: 460px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            div{
            display: flex;
            justify-content: center;
            img{
                display: flex;
                align-items: start;
                height: 80px;
                width: 75px;
            }
            button{
                margin: 35px;
                background-color: $colorBotones; /*VARIABLE*/
                padding: 3.5px;
                border-radius: 5px;
                font-family: 'Signika Negative', sans-serif;
                font-weight: bold;
                width: 80px;
                transition: height 0.5s, width 0.2s;
            }
            button:hover{
                height: 35px; width: 85px;
            }
            p{
                border: 1px solid rgba(0, 0, 0, 0.336);
                border-radius: 10px;
                padding: 5px;
                font-weight: bold;
            }
            }
            .divImgPubli{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 130px
            }
        }
        .publiTipoDos{
            @extend .publiTipoUno;
        }
        .publiTipoTres{
            @extend .publiTipoUno;
        }
    }
}
