.mainPublicar{
    height: 100vh;
    font-family: 'Signika Negative', sans-serif;
    .cardPublicar{
        border: 1px solid red;
        display: grid;
        grid-template-rows: 60px 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
        .hDosPublicar{
            grid-column: 1 / span 3;
            div{
                h2{
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .publiTipoUno{
            border: 3px solid rgba(0, 0, 0, 0.336);;
            border-radius: 10px;
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            div{
            display: flex;
            justify-content: center;
            img{
                margin-top: 35px;
            }
            button{
                margin: 35px;
                background-color: $colorBotones; /*VARIABLE*/
                padding: 3.5px;
                border-radius: 5px;
                font-family: 'Signika Negative', sans-serif;
                font-weight: bold;
                width: 80px;
            }
            p{
                border: 1px solid rgba(0, 0, 0, 0.336);
                border-radius: 10px;
                padding: 5px;
                font-weight: bold;
            }
            }
        }
        .publiTipoDos{
            @extend .publiTipoUno;
        }
        .publiTipoTres{
            @extend .publiTipoUno;
        }
    }
}
